h1 {
    background-color: chocolate;
    padding: 30px;
    border: 5px dotted blueviolet;
    margin: 50px;
}

img{
    background-color: cornflowerblue;
    padding: 30px;
    border: 5px solid red;
    margin: 80px;
}