h1{
    background-color: coral;
    height: 500px;
    width: 150px;
    
    
}

a{
    background-color: coral;    
    color: white;
    /* display: block; */
    height: 200px;
    width: 150px;
}

.conv{
    display: inline-block;
    background-color: darkgoldenrod;
    width: 400px;
    height: 300px;

}