.master{
    width: 70%;
    height: 1000px;
    background-color: hotpink;
    margin: 0 auto;
}

.box1{
    width: 25%;
    height: 300px;
    background-color: grey;
    float: left;
}

.box2 {
    width: 25%;
    height: 300px;
    background-color: orange;
    float: left;
}

.box3 {
    width: 25%;
    height: 300px;
    background-color: purple;
    float: left;
}

.box4 {
    width: 25%;
    height: 300px;
    background-color: red;
    float: left;
}

@media only screen and (max-width: 1100px){   /* for tablet*/
    .master{
        width: 100%;
    }

    .box1{
        width: 50%;
    }

    .box2{
        width: 50%;
    }

    .box3{
        width: 50%;
    }

    .box4{
        width: 50%;
    }
}

@media only screen and (max-width:800px){    /* for android */

    .box1{
        width: 100%;
    }

    .box2{
        width: 100%;
    }

    .box3{
        width: 100%;
    }

    .box4{
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 700px) {
    .master{
        background-color: aqua;
    }
}