.newheading{
    border-top: 5px solid green;
    border-right: 5px ridge blue;
    border-bottom: 5px dotted purple;
    border-left: 5px dashed black;
    
}

.dotted{
    border-style: dotted;
    border-color: red;
    border-width: 5px;
}

.dashed {
    border-style: dashed;
    border-color: red;
    border-width: 5px;
}

.solid {
    border-style: solid;
    border-color: red;
    border-width: 5px;
}

.double {
    border-style: double;
    border-color: red;
    border-width: 5px;
}

.groove {
    border-style: groove;
    border-color: red;
    border-width: 5px;
}

.ridge {
    border-style: ridge;
    border-color: red;
    border-width: 5px;
}

.inset {
    border-style: inset;
    border-color: red;
    border-width: 5px;
}

.hidden {
    border-style: hidden;
    border-color: red;
    border-width: 5px;
}

.none {
    border-style: none;
    border-color: red;
    border-width: 5px;
}

p{
    border-color: brown;
    border-width: 5px;
    border-style: solid ridge dotted groove;
    border-style: solid dotted groove;
    border-style: solid dotted ;
    border-style: dashed ;
}