.black{
    width: 800px; 
    background-color: black;
    margin: 0 auto;
}

.coral{
    width: 800px;
    height: 200px;
    background-color: coral;
}

.yellow{
    width: 400px;
    height: 200px;
    background-color: yellow;
    float: left;
}

.red{
    width: 400px;
    height: 200px;
    background-color: red;  
    float: left;
}

.purple{
    width: 800px;
    height: 200px;
    background-color: purple; 
    clear: both;
}
