.black{
    width: 800px;
    height: 800px;
    margin: 0 auto;  
}

.coral{
    width: 800px;
    height: 200px;
    background-color: coral;
}

.red{
    width: 400px;
    height: 600px;
    float: left;
}

.cyan{
    width: 400px;
    height: 600px;
    background-color: cyan;
    float: left;
}

.yellow{
    width: 400px;
    height: 270px;
    background-color: yellow; 
}

.green{
    width: 400px;
    height: 270px;
    background-color: green;
    margin-top: 60px;
}